@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Museo Sans Cyrl';
  font-weight: 400;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, p, ul, li {
  padding: 0;
  margin: 0;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
}

@media (max-width: 567px) {
  .container {
    max-width: 580px;
  }
}

@media (max-width: 321px) {
  .container {
    max-width: 280px;
    width: 100%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
  font-size: 13px;
  outline: none;
}

.button:hover {
  background: #ffdb33;
  cursor: pointer;
}

.button-top {
  position: fixed;
  bottom: -50px;
  right: 50px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
  background: #ffd200;
  z-index: 1;
  outline: none;
}

.button-top:after {
  content: '';
  width: 10px;
  height: 10px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 4px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.button-top_active {
  bottom: 50px;
}

.button-top_active:hover {
  background: #ffdb33;
  cursor: pointer;
}

.success {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
}

@media (max-width: 768px) {
  .success {
    margin-bottom: 0;
  }
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 30px;
  font-size: 15px;
  border-radius: 10px;
  font-weight: 300;
}

.input:focus {
  outline: none;
  border: 1px solid #ffd200;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

/* Импорт стилей шапки */
.navbar {
  padding: 7px 0 5px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  margin-top: -2px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
}

.navbar__button {
  margin-top: -3px;
  margin-left: 30px;
  font-weight: 700;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  margin-top: 7px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 13px 24px;
  }
  .navbar__logo {
    width: 90px;
  }
}

@media (max-width: 321px) {
  .navbar {
    padding: 17px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar__button {
    border-radius: 5px;
    font-size: 10px;
    font-weight: 700;
    padding: 14px 26px;
    margin-top: -5px;
    margin-right: 3px;
  }
}

/* Импорт стилей главного экрана */
.hero {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 20px;
  padding-top: 30px;
}

.hero-text__title {
  font-size: 41px;
  font-weight: 600;
  line-height: 55px;
  margin-bottom: 37px;
  margin-left: -2px;
}

.hero-text__subtitle {
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 70px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 250px;
  line-height: 24px;
  font-weight: 300;
  font-size: 14px;
}

.hero-img img {
  margin-left: 15px;
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
  .hero-img {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 8px 0px 50px 15px;
  }
  .hero-text {
    padding-right: 0;
  }
  .hero-text__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 13px;
  }
  .hero-text__subtitle {
    margin-top: -5px;
    width: 265px;
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-img {
    margin-top: -5px;
    margin-left: -20px;
    width: 97%;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    max-width: 200px;
    font-size: 12px;
    line-height: 14px;
  }
  .hero-list__image {
    margin-left: -5px;
    margin-right: 15px;
    width: 40px;
    height: 40px;
  }
}

/* Импорт стилей блока с предложением */
.offer {
  background: url("../img/offer-bg.png") right no-repeat;
  position: relative;
  padding: 75px 0 90px;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #ffffff;
  top: 0;
  left: 0;
}

.offer-block {
  position: relative;
  width: 50%;
  padding-right: 92px;
}

.offer__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  max-width: 360px;
  margin-bottom: 20px;
}

.offer__subtitle {
  display: block;
  font-weight: 300;
  font-size: 16px;
  max-width: 270px;
  margin-bottom: 34px;
}

.offer__input {
  width: 240px;
  margin-bottom: 30px;
}

.offer__input:first-child {
  margin-right: 9px;
}

.offer__ref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__text {
  display: block;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  width: 225px;
}

.offer__text:last-child {
  margin-right: -27px;
}

.offer__phone {
  font-weight: 600;
  text-decoration: none;
  color: #000;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

@media (max-width: 1200px) {
  .offer {
    background: #ffffff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__input {
    width: 49%;
  }
  .offer__ref {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #ffffff;
    padding: 53px 0;
  }
  .offer__title {
    margin-top: -5px;
    font-size: 18px;
    line-height: 22px;
    width: 260px;
    margin-bottom: 18px;
  }
  .offer__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 27px;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__input {
    width: 100%;
    margin-right: 0;
    padding: 23px 23px;
    margin-bottom: 8px;
  }
  .offer__button {
    font-size: 15px;
    margin-bottom: 23px;
  }
  .offer__ref {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 5px;
  }
  .offer__text:first-child {
    margin-bottom: 7px;
  }
}

/* Импорт стилей блока портфолио */
.portfolio {
  padding: 87px 0 100px;
  background: #f5f5f5 url("../img/portfolio-bg.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  margin: auto;
  margin-bottom: 95px;
  text-align: center;
}

.portfolio__slider {
  margin-bottom: 68px !important;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider {
  margin: 0 -15px;
}

.slider-item {
  padding: 0 15px;
}

.slider-item__img {
  margin: auto;
}

@media (max-width: 768px) {
  .portfolio {
    padding: 33px 0 64px;
  }
  .portfolio__title {
    font-size: 18px;
    margin-bottom: 43px;
    line-height: 22px;
  }
  .portfolio__slider {
    margin-bottom: 44px !important;
  }
  .slider-item__img {
    width: 245px;
  }
}

/* Импорт стилей блока с ценами */
.price {
  padding: 85px 0 84px;
}

.price__title {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 515px;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  line-height: 45px;
}

.price__subtitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 59px;
  font-size: 20px;
  font-weight: 100;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__img::before {
  opacity: 1;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__img {
  position: relative;
}

.card__img::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__text {
  padding-top: 33px;
  padding-bottom: 43px;
}

.card__title {
  margin-bottom: 28px;
  font-weight: 300;
  font-size: 18px;
}

.card__link {
  display: inline-block;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}

.card__link:hover:after {
  height: 13px;
}

.card__link::after {
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  position: absolute;
  bottom: -6px;
  left: 0;
  z-index: -1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 768px) {
  .price {
    padding-top: 44px;
    padding-bottom: 25px;
  }
  .price__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 22px;
  }
  .price__subtitle {
    font-size: 14px;
    margin-bottom: 62px;
  }
  .card {
    max-width: 270px;
  }
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card__text {
    padding-top: 28px;
    padding-bottom: 30px;
  }
  .card__title {
    font-size: 14px;
    margin-bottom: 13px;
  }
}

/* Импорт стилей блока с шагами */
.step {
  width: 160px;
  text-align: center;
  position: relative;
}

.step::after {
  content: '';
  width: 72px;
  height: 25px;
  position: absolute;
  background: url("../img/steps/arrow.png") no-repeat center;
  top: -10px;
  right: -45%;
}

.step:last-child::after {
  display: none;
}

.step__img {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-bottom: 25px;
}

.step__text {
  font-size: 14px;
  max-width: 160px;
  margin-left: auto;
  margin-right: auto;
  line-height: 20px;
}

.steps {
  padding-top: 43px;
  padding-bottom: 96px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.steps-title {
  font-size: 30px;
  line-height: 45px;
  max-width: 660px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 49px;
}

.steps-subtitle {
  display: block;
  text-align: center;
  font-size: 20px;
  margin-bottom: 68px;
  font-weight: 100;
}

@media (max-width: 768px) {
  .step {
    margin-bottom: 30px;
  }
  .step::after {
    display: none;
  }
  .step__img {
    margin-bottom: 20px;
  }
  .step__text {
    font-size: 12px;
    line-height: 16px;
  }
  .steps {
    padding-top: 0;
    padding-bottom: 70px;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .steps-title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 24px;
  }
  .steps-subtitle {
    font-size: 14px;
    margin-bottom: 33px;
  }
}

@media (max-width: 1200px) {
  .step {
    margin-bottom: 30px;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .step::after {
    display: none;
  }
  .steps-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* Импорт стилей блока с гарантией */
.warranty {
  padding-top: 86px;
  padding-bottom: 95px;
  text-align: center;
  background-color: #ffc000;
}

.warranty__text {
  font-size: 32px;
  line-height: 50px;
  font-weight: 300;
}

@media (max-width: 768px) {
  .warranty {
    padding-top: 68px;
    padding-bottom: 75px;
  }
  .warranty-block {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .warranty__text {
    width: 85%;
    font-size: 18px;
    line-height: 22px;
  }
}

/* Импорт стилей модального окна */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 7;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: auto;
  width: 570px;
  height: 670px;
  background-color: #fff;
}

.modal-dialog__close {
  position: absolute;
  top: 5px;
  right: 3px;
  background: transparent;
  border: none;
  z-index: 10;
}

.modal-dialog__offers {
  display: none;
  width: 600px;
  padding: 80px 78px;
  background-color: #f7f7f7;
}

.modal-dialog__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 100px;
}

.modal-dialog__form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-dialog-note__phone {
  display: block;
}

.modal-dialog-form__title {
  font-size: 22px;
  text-align: center;
  line-height: 33px;
  margin-bottom: 20px;
}

.modal-dialog-form__subtitle {
  font-size: 16px;
  text-align: center;
}

.modal-dialog-form__input {
  width: 100%;
  height: 62px;
}

.modal-dialog-form__input:first-child {
  margin-bottom: 15px;
}

.modal-dialog-form__input-container {
  margin-top: 30px;
}

.modal-dialog-form__button {
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  height: 70px;
}

.modal-dialog-form__note {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  width: 290px;
}

.modal-dialog-form__note_phone {
  margin-top: 12px;
  display: block;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}

.modal-offer__goods {
  display: block;
  margin-bottom: 55px;
}

.modal-offer-good {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-offer__list li:before {
  content: '#';
}

.modal-offer__list li:before__description {
  margin-left: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-offer__list li:before__line {
  border: 1px solid #ffd200;
  width: 40px;
  margin-bottom: 10px;
}

.modal-offer__list li:before__img {
  width: 120px;
  height: 85px;
}

.modal-offer__list li:before__title {
  font-size: 16px;
  margin-bottom: 10px;
}

.modal-offer__list li:before__price {
  font-weight: 16px;
  line-height: 22px;
}

.modal-offer__list li:before__price_counts {
  font-weight: 600;
}

.modal-offer-description__text {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}

@media (max-width: 567px) {
  .modal-dialog {
    width: 90%;
    height: 470px;
  }
  .modal-dialog__form {
    width: 100%;
    padding: 20px 20px;
  }
  .modal-dialog__form-wrap {
    width: 100%;
  }
  .modal-dialog-form__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: -10px;
  }
  .modal-dialog-form__subtitle {
    margin-bottom: -45px;
    font-size: 12px;
  }
  .modal-dialog-form__button {
    font-size: 12px;
    height: 60px;
    margin-top: -20px;
  }
  .modal-dialog-form__note {
    font-size: 12px;
    margin-top: -20px;
  }
  .modal-dialog-form__note_phone {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */